<div class="mb-4">
  <!-- label -->
  @if (label()) {
    <label class="block text-surface-900 dark:text-surface-0 mb-1" [for]="controlName()">
      {{ label() }}
      @if (required()) {
        <span class="text-red-700">*</span>
      }
    </label>
  }

  <!-- input -->
  <p-iconField>
    @if (iconName()) {
      <p-inputIcon [class]="'pi ' + iconName" />
    }

    <input
      pInputText
      class="w-full"
      [pattern]="pattern"
      [id]="controlName()"
      (input)="onInput($event)"
      [invalid]="!!getErrorMessage"
      [placeholder]="getPlaceholder"
      [formControlName]="controlName()"
      [attr.inputmode]="allowDecimal() ? 'decimal' : 'numeric'"
    />
  </p-iconField>

  <!-- validation -->
  @if (getErrorMessage) {
    <small class="block text-red-700 mt-1"> {{ getErrorMessage }} </small>
  }
</div>
