<div class="mb-2">
  <!-- label -->
  @if (label()) {
    <label class="block text-surface-900 dark:text-surface-0 mb-2" [for]="controlName()">
      {{ label() }}
      @if (required()) {
        <span class="text-red-700">*</span>
      }
    </label>
  }

  <!-- input -->
  <p-iconField>
    @if (showIcon()) {
      <p-inputIcon class="pi pi-lock" />
    }

    <p-password
      [fluid]="true"
      autocomplete="on"
      [feedback]="false"
      [toggleMask]="true"
      [id]="controlName()"
      placeholder="••••••••"
      [invalid]="isControlInvalid"
      (input)="removeSpace($event)"
      (keydown)="preventSpace($event)"
      [formControlName]="controlName()"
    />
  </p-iconField>

  <!-- validation -->
  @if (isControlInvalid) {
    <small class="block text-red-700 mt-1"> *Please enter the {{ label().toLowerCase() }}. </small>
  }
</div>
