<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <!-- menubar -->
    <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
    </button>

    <!-- title -->
    <a class="layout-topbar-logo" routerLink="/"> Angular </a>
  </div>

  <div class="layout-topbar-actions">
    <!-- dark/light mode toggle -->
    <div class="layout-config-menu">
      <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
        <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
      </button>
    </div>

    <!-- shoe three dot on mobile screen -->
    <button
      pStyleClass="@next"
      leaveToClass="hidden"
      enterFromClass="hidden"
      [hideOnOutsideClick]="true"
      leaveActiveClass="animate-fadeout"
      enterActiveClass="animate-scalein"
      class="layout-topbar-menu-button layout-topbar-action"
    >
      <i class="pi pi-ellipsis-v"></i>
    </button>

    <!-- profile -->
    <div class="layout-topbar-menu hidden lg:block">
      <div class="layout-topbar-menu-content">
        <button type="button" class="layout-topbar-action">
          <i class="pi pi-user"></i>
          <span>Profile</span>
        </button>
      </div>
    </div>
  </div>
</div>
