<div class="mb-2">
  <!-- label -->
  @if (label()) {
    <label class="block text-surface-900 dark:text-surface-0 mb-2" [for]="controlName()">
      {{ label() }}
      @if (required()) {
        <span class="text-red-700">*</span>
      }
    </label>
  }

  <!-- date input -->
  <p-datepicker
    class="w-full"
    [showIcon]="true"
    [id]="controlName()"
    [hourFormat]="'12'"
    inputId="icondisplay"
    [iconDisplay]="'input'"
    [showTime]="timeSelection()"
    [invalid]="isControlInvalid"
    [placeholder]="getPlaceholder"
    [formControlName]="controlName()"
  />

  <!-- validation -->
  @if (isControlInvalid) {
    <small class="block text-red-700 mt-1">*Please select the {{ label().toLowerCase() }}. </small>
  }
</div>
