::ng-deep {
    .iti--inline-dropdown .iti__dropdown-content {
        box-shadow: none !important;
    }

    .app-dark .iti--inline-dropdown .iti__dropdown-content {
        background-color: var(--p-surface-800) !important;
    }

    .iti.iti--allow-dropdown {
        width: 100% !important;
    }

    &:focus-visible {
        outline: none !important;
    }

    &::-webkit-scrollbar {
        display: none !important;
    }

    .iti__search-input {
        padding: 8px !important;
        background: transparent !important;
    }

    .iti__dropdown-content {
        z-index: 99 !important;
        border-radius: 8px !important;
    }
}